<div class='track'>
    <div class='track__artwork'>
        <img
            alt
            class='track__artwork__img'
            src='/static/artworks/{{album.props.artwork}}_128px.webp'
        />
    </div>
    <div class='track__container'>
        <div class='track__container__name'>{{title}}</div>
        <a href='/artist/{{artist.props.id}}'>
            <div class='track__container__artist'>{{artist.props.name}}</div>
        </a>
    </div>
    <div class='track__ellipsis'>
        <img alt class='track-fav' src='/static/img/favorite.svg' />
        <img
            alt
            class='track-play'
            data-id='{{id}}'
            data-title='{{title}}'
            data-artist='{{artist.props.name}}'
            data-cover='{{album.props.artwork}}'
            data-url='{{file}}'
            data-pos='{{pos}}'
            data-album='{{album.props.title}}'
            data-artworkcolor='{{album.props.artwork_color}}'
            src='/static/img/play-outline.svg'
        />
    </div>
</div>
