<div class='track-list-item'>
    <img
        alt
        class='track-list-item__artwork'
        src='{{album.props.artwork}}'
    />
    <div class='track-list-item__name-container'>
        <div class='track-list-item__name'>{{title}}</div>
        <div
            class='track-list-item__artist'
            href='/artists/{{artist.props.id}}'
            data-link
        >{{artist.props.name}}</div>
    </div>
    <div class='track-list-item__ellipsis'>
        <img alt class='track-list-item-fav' src='/static/img/favorite.svg' />
        <img
            alt
            class='track-list-item-play'
            data-title='{{title}}'
            data-artist='{{artist.props.name}}'
            data-cover='{{album.props.artwork}}'
            data-url='{{file}}'
            data-pos='{{pos}}'
            data-album='{{album.props.title}}'
            src='/static/img/play-outline.svg'
        />
    </div>
</div>
