<div class="track-list-item">
    <img class="track-list-item__artwork" src="/src/static/img/artworks/{{ cover }}_128px.webp">
    <div class="track-list-item__name-container">
        <div class="track-list-item__name">{{ title }}</div>
        <div class="track-list-item__artist">{{ artist }}</div>
    </div>
    <div class="track-list-item__ellipsis">
        <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
        <img class="track-list-item-play"
             data-title="{{ title }}"
             data-artist="{{ artist }}"
             data-cover="{{ cover }}"
             data-url="{{ file }}"
             data-pos="{{ pos }}"
             data-album="{{ album }}"
             src="/src/static/img/play-outline.svg">
    </div>
</div>
