<div class="app__content">
    {{{sidebar}}}
    <div class="main-layout">
        {{{topbar}}}
        <div class="main-layout__content">
            {{{profileform}}}
        </div>
    </div>
</div>
{{{player}}}
{{{mobile}}}
