<div class="app__content">
    {{{ sidebar }}}
    <div class="main-layout">
        {{{ topbar }}}
        <div class="main-layout__content">
            <div class="listen-now">
                {{{ top_albums }}}
                <div class="listen-now__suggested-content">
                    {{{ suggested_playlists }}}
                    {{{ track_list }}}
                    {{{ suggested_artists }}}
                </div>
            </div>
            {{{ friend_activity }}}
        </div>
    </div>
</div>
{{{ player }}}
