<div class='app__content'>
    {{{sidebar}}}
    <div class='main-layout'>
        {{{topbar}}}
        <div class='main-layout__content'>
            <div class="playlist">
                <div class="playlist__description">{{{title}}}</div>
                <div class="playlist__content">
                    {{{trackList}}}
                </div>
            </div>
        </div>
    </div>
</div>
{{{player}}}
