<div class='app__content'>
    {{{sidebar}}}
    <div class='main-layout'>
        {{{topbar}}}
        <div class='main-layout__content'>
            <div class='playlist'>
                <div class='playlist__description'>
                    <div class='playlist__description-avatar'>
                        <img class='playlist__description-img' src='{{{avatar}}}' />
                        <div class='playlist__description-edit'>
                            <img class='playlist__description-edit-img' src='/static/img/edit.svg' />
                            <div class='playlist__description-edit-msg'>
                                Edit
                            </div>
                        </div>
                    </div>
                    <div class='playlist__description-text_block'>
                        <div class='playlist__description-text'>
                            Playlist:
                        </div>
                        <div class='playlist__description-delete'>
                            Delete
                        </div>
                        <div class='playlist__description-title'>
                            {{{title}}}
                        </div>
                    </div>
                </div>
                <div class='playlist__content'>
                    {{{trackList}}}
                </div>
            </div>
            {{{contextMenu}}}
            <div class='editwindow'>
                <div class='editwindow__content'>
                    <form class='editwindow__avatar' action='#' novalidate>
                        <div class='editwindow__avatar-block'>
                            <img class='editwindow__avatar-img' src='{{{avatar}}}' />
                        </div>
                        <input
                            type='file'
                            name='file'
                            id='file'
                            accept='image/png, image/jpg, image/webp'
                            class='editwindow__avatar-input'
                        />
                        <label for='file' class='editwindow__avatar-input-btn'>Upload file</label>
                    </form>
                    <form class='editwindow__form' action='#' novalidate>
                        <div class='editwindow__form-title'>
                            Edit Details
                        </div>
                        {{#each inputs}}
                            {{{this}}}
                        {{/each}}
                        <div class='editwindow__form-msg form__fail_msg'></div>
                        <div class='editwindow__form-buttons'>
                            <input
                                class='editwindow__form-submit'
                                type='image'
                                src='/static/img/save.svg'
                            />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{{player}}}
