<div class="player">
    <img alt id="player-artwork" class="player-artwork{{#if hide_artwork}} hidden{{/if}}"
         src="{{ cover }}_128px.webp" />
    <div class="player-track">
        <div id="track-name" class="track-name">{{ track }}</div>
        <div id="artist-name" class="artist-name">{{ artist.props.name }}</div>
    </div>
    <img
        alt class='player-fav'
        data-id='{{track_id}}'
        {{# if track_in_favorites}}
        data-in_favorites='{{track_in_favorites}}'
        src='/static/img/favorite_green.svg'
        {{ else }}
        src='/static/img/favorite.svg'
        {{/if}}
    />
    <div class="player-controls">
        <img alt src="/static/img/skip.svg"
             class="player-skip-left{{# if left_disabled }} disabled{{/if}}">
        {{# if playing}}
            <img alt src="/static/img/pause.svg" class="player-play">
        {{ else }}
            <img alt src="/static/img/play.svg" class="player-play">
        {{/if}}
        <img alt src="/static/img/skip.svg"
             class="player-skip-right{{# if right_disabled }} disabled{{/if}}">
    </div>
    <div class="player__time" id="player-time-current"> {{ current_time }} </div>
    <div class="player__seekbar" id="player-seekbar">
        <span class="seekbar-current" {{#if recovered}}style="{{ seekbarWidth }}"{{/if}}></span>
    </div>
    <div class="player__time" id="player-time-total"> {{ total_time }} </div>
    <img alt class="shuffle" src="/static/img/shuffle.svg">
    <img alt class="repeat" src="/static/img/repeat.svg">
    <div id="player-volume" class="player__seekbar player-volume">
        <span class="volume-current"></span>
    </div>
    <img alt class="mute" src="/static/img/volume.svg">
</div>
