<div class='app__content'>
    {{{sidebar}}}
    <div class='main-layout'>
        {{{topbar}}}
        <div class='main-layout__content' id='content'>
        </div>
        <div class='js-menu-container'>
            {{{contextMenu}}}
        </div>
    </div>
</div>
<div class="alerts"></div>
{{{player}}}
{{{mobile}}}
