<aside class='mobile-player mobile-player__hidden'>
    <div class='mobile-player__container'>
        <i class='mobile-player__close fas fa-chevron-down'></i>
        <img
            class='mobile-player__artwork'
            id='mobile-player-artwork'
            src="{{ cover }}_512px.webp"
        />
        <div class='mobile-player__now-playing'>
            <div class='mobile-player__now-playing__title mobile-track-title'>{{track}}</div>
            <div class='mobile-player__now-playing__artist mobile-track-artist'>{{artist.props.name}}</div>
        </div>
        <div class='mobile-player__progress'>
            <div class='mobile-player__progress__bar'>
                <div class='mobile-player__progress__bar__elapsed'></div>
            </div>
            <div class='mobile-player__progress__time'>
                <div class='mobile-player__progress__time__elapsed'>{{current_time}}</div>
                <div class='mobile-player__progress__time__remaining'>{{total_time}}</div>
            </div>
        </div>
        <div class="mobile-player__controls">
            <img alt src="/static/img/skip.svg"
                 class="player-skip-left{{# if left_disabled }} disabled{{/if}}">
            <img alt src="/static/img/{{# if playing}}pause.svg{{ else }}play.svg{{/if}}"
                 class="mobile-player__controls__play player-play">
            <img alt src="/static/img/skip.svg"
                 class="player-skip-right{{# if right_disabled }} disabled{{/if}}">
        </div>
        <div class='mobile-player__actions'>
            <i class="repeat fa-solid fa-repeat"></i>
            <i class="shuffle fa-solid fa-shuffle"></i>
        </div>
    </div>
</aside>
<div class='mobile-footer'>
    <div class='mobile-footer__player__progress'></div>
    <div class='mobile-footer__player'>
        <div class='mobile-footer__player__track'>
            <div class='mobile-footer__player__track__title mobile-track-title'>
                {{track}}
            </div>
            <div class='mobile-footer__player__track__artist mobile-track-artist'>
                {{artist.props.name}}
            </div>
        </div>
        <div class='mobile-footer__player__icon'>
            {{# if playing}}
                <i class='player-play fa-solid fa-pause'></i>
            {{ else }}
                <i class='player-play fa-solid fa-play'></i>
            {{/if}}

        </div>
    </div>
    <div class='mobile-footer__menu'>
        <a href='/' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-house'></i>
        </a>
        <a href='/profile' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-user'></i>
        </a>
    </div>
</div>
